<!DOCTYPE html>
<html>
<head>
<% include ../../include/admin/head.html %>
</head>
<body>

<!-- Start your project here-->
<!-- S:header -->
<header>
    <% include ../../include/admin/header.html %>
</header>
<!-- E:header -->

<!-- S:main -->
<main>
      <% include ../../include/admin/location.html %>
      <div class="container pt-3">
         <% include ./home/index.ejs %>
      </div>
</main>
<!-- E:main -->

<!-- footer-->
<footer>
    <% include ../../include/admin/footer.html %>
</footer>
<!-- footer ends-->
<!-- End your project here-->

<!-- MDB -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- add Script -->
<script type="text/javascript" src="/js/admin/script.js"></script>

</body>
</html>

