<!DOCTYPE html>
<html>
  <head>
    <% include ../include/head.html %>
  </head>
  <body>

    <!-- Start your project here-->
    <!-- S:header -->
    <header>
      <% include ../include/header.html %>
    </header>
    <!-- E:header -->

    <!-- S:main -->
    <main class="contents-area">
      <div class="container mb-8">
        <% include ./main/main.html %>
      </div>
    </main>
    <!-- E:main -->
    <!-- footer-->
    <footer>
      <% include ../include/footer.html %>
    </footer>
    <!-- footer ends-->
    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <!-- add Script -->
    <script type="text/javascript" src="/js/script.js"></script>

  </body>
</html>

