<!-- S:테스크탑에서만 보임-->
<div class="d-lg-block d-none">
    <div class="table-responsive">
        <table class="table align-middle mb-0 bg-white">
            <thead class="">
            <tr>
                <th></th>
                <th class="text-center">Items</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">From</th>
                <th class="text-center">To</th>
                <th class="text-center">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <span class="material-symbols-outlined" style="font-size:16px !important;">back_hand</span> <span class="fw-bold ">offer</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Caked Apes #8472</p>
                        </div>
                    </div>
                </td>
                <td class="text-end">
                    <p class="fw-normal mb-1 h6"><img src="/assets/img/icon-ETH-24.png" alt="ETH">4,746.66</p>
                    <p class="text-muted mb-0">$350.68</p>
                </td>
                <td class="text-center">1</td>
                <td class="text-center">
                    <span class="rounded-pill d-inline text-primary">Gurkuda</span>
                </td>
                <td class="text-center">--</td>
                <td class="text-center">
                    2 minutes ago
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span class="material-symbols-outlined" style="font-size:16px !important;">sync_alt</span> <span class="fw-bold ">Transfer</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Caked Apes #8472</p>
                        </div>
                    </div>
                </td>
                <td class="text-end">
                    <p class="fw-normal mb-1 h6"><img src="/assets/img/icon-ETH-24.png" alt="ETH">4,746.66</p>
                    <p class="text-muted mb-0">$350.68</p>
                </td>
                <td class="text-center">1</td>
                <td class="text-center">
                    <span class="rounded-pill d-inline text-primary">Gurkuda</span>
                </td>
                <td class="text-center text-primary">Derri..</td>
                <td class="text-center text-primary">
                    2 minutes ago
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <span class="material-symbols-outlined" style="font-size:16px !important;">production_quantity_limits</span> <span class="fw-bold ">Sale</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Caked Apes #8472</p>
                        </div>
                    </div>
                </td>
                <td class="text-end">
                    <p class="fw-normal mb-1 h6"><img src="/assets/img/icon-ETH-24.png" alt="ETH">4,746.66</p>
                    <p class="text-muted mb-0">$350.68</p>
                </td>
                <td class="text-center">1</td>
                <td class="text-center">
                    <span class="rounded-pill d-inline text-primary">Gurkuda</span>
                </td>
                <td class="text-center">--</td>
                <td class="text-center">
                    2 minutes ago
                </td>
            </tr>
            <% for(var i=0; i<10; i++){ %>
            <tr>
                <td class="text-center">
                    <span class="material-symbols-rounded" style="font-size:16px !important;">sell</span> <span class="fw-bold ">List</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                alt=""
                                style="width: 45px; height: 45px"
                                class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Caked Apes #8472</p>
                        </div>
                    </div>
                </td>
                <td class="text-end">
                    <p class="fw-normal mb-1 h6"><img src="/assets/img/icon-ETH-24.png" alt="ETH">4,746.66</p>
                    <p class="text-muted mb-0">$350.68</p>
                </td>
                <td class="text-center">1</td>
                <td class="text-center">
                    <span class="rounded-pill d-inline text-primary">Gurkuda</span>
                </td>
                <td class="text-center">--</td>
                <td class="text-center">
                    2 minutes ago
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<!-- E:테스크탑에서만 보임-->

<!-- S:모바일에서만 보임-->
<div class="d-lg-none d-block">
    <% for(var i=0; i<10; i++){ %>
    <div class="d-flex py-3 border-bottom">
        <div class="flex-grow-1 py-3">
            <div class="d-flex align-items-center">
                <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                />
                <div class="ms-3">
                    <p class="fw-bold mb-0">Caked Apes #8472</p>
                    <p class="mb-0">+ more</p>
                </div>
            </div>
        </div>
        <div class="text-end">
            <p class="text-muted mb-0">Sale</p>
            <p class="fw-bold small mb-0 h6"><img src="/assets/img/icon-ETH-24.png" alt="ETH">4,746.66</p>
            <p class="mb-0">
                <a href="#">2 minutes ago <span class="material-symbols-outlined" style="font-size:16px !important;">open_in_new</span></a>
            </p>
        </div>
    </div>
    <% } %>
</div>
