<div class="card card-basic2 bg-dark text-white">
    <a href="/explore/collection-items"><img src="https://mdbcdn.b-cdn.net/img/new/slides/017.webp" height="452" class="card-img" alt="Stony Beach"/></a>
    <div class="card-img-overlay d-flex flex-column">
        <div class="d-flex flex-row-reverse">
            <span class="rounded-pill bg-light bg-opacity-25 px-4 py-1">
                <h6 class="text-white opacity-100 mb-0 py-1">LIVE</h6>
            </span>
        </div>
        <div class="card-text mt-auto mx-2">
            <h4 class="card-title">Rainbow Specimens</h4>
            <small>This is a wider card with supporting text below as a natural lead-in to additional..</small>
        </div>
    </div>
</div>


