<div class="card card-basic2">
    <a href="../../explore/collection-items">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body mt-5 mb-1 position-relative">
            <div class="d-flex justify-content-center">
                <p class="photo-profile rounded-circle p-1 position-absolute bg-white shadow-3" style="top:-80px;width: 66px; height: 66px; z-index:1000;">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 56px; height: 56px;"
                         class="rounded-circle"/>
                </p>
            </div>
            <h6 class="card-title fw-bold">
                <span class="text-darken">"Caked Apes Official..</span>
            </h6>
            <p class="card-name small">
                by Souravwpap<span class="material-symbols-rounded ms-1 text-primary">verified</span>
            </p>
            <p class="card-text small text-darken">MetaHero Identities are a collection of heroes, villains, and mutants native to the MetaHero...</p>
        </div>
    </a>
</div>
