<div class="card card-basic">
    <a href="/explore/collection-items"><img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top" alt="Fissure in Sandstone"/></a>
    <div class="card-body">
        <div class="d-flex flex-row align-items-center">
            <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 48px; height: 48px" class="rounded-circle"/>
            <div class="ms-2">
                <h5 class="card-title text-dark mb-0">Levitation</h5>
                <p class="card-text text-primary">abahassan</p>
                <!--        <a href="#!" class="btn btn-primary">Button</a>-->
            </div>
            <div class="ms-2 ms-auto flex-shrink-1">
                <a href="#" data-mdb-toggle="tooltip" data-mdb-placement="top">
                    <span class="material-icons material-symbols-outlined md-24 text-lighten">info</span>
                </a>
            </div>
        </div>
    </div>
</div>
