
<div class="card card-basic4">
    <a href="../../explore/collection-items">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/180.webp" class="card-img-top" alt=""/>
    </a>
    <!-- S: 기본사이즈-->
    <div class="d-lg-block d-none">
        <div class="card-body mt-1 mb-1 position-relative">
            <div class="d-flex justify-content-between">
                <div class="">
                    <p class="small mb-2">Caked Apes Official</p>
                    <h6 class="fw-bold small">Caled Apes #1426</h6>
                </div>
                <div class="">
                    <p class="small mb-1 text-end">Min Bid</p>
                    <h5 class="fw-bold text-end"><img src="/assets/img/icon-ETH-24.png" alt="ETH"> 4,746,66</h5>
                    <p class="small text-end mb-0">7 hours left</psmall>
                </div>
            </div>
        </div>
    </div>
    <!-- E: 기본사이즈-->
    <!-- S: 작은사이즈-->
    <div class="d-lg-none d-block">
        <div class="card-body p-3 position-relative">
            <div class="d-flex flex-column">
                <div class="">
                    <p class="small mb-2">Caked Apes Official</p>
                    <h6 class="fw-bold small">Caled Apes #1426</h6>
                </div>
                <div class="">
                    <h5 class="small fw-bold"><img src="/assets/img/icon-ETH-24.png" alt="ETH"> 4,746,66</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- E: 은사이즈-->
    <div class="card-footer text-muted">
        <div class="d-flex justify-content-end">
            <span class="material-icons material-symbols-outlined md-24 text-lighten">favorite</span>&nbsp; 65
        </div>
    </div>
</div>
