<!DOCTYPE html>
<html>
<head>
    <% include ../../../include/admin/head.html %>
</head>
<body>

<!-- Start your project here-->
<!-- S:header -->
<header></header>
<!-- E:header -->

<!-- S:main -->
    <!-- 로그인 -->
    <div class="d-flex align-items-center" style="height:100vh;">>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-md-8">
                        <form class="bg-white rounded-5 shadow-5-strong p-5">
                            <!-- logo -->
                            <div class="text-center mb-5">
                                <p>LOGO</p>
                                <h2>Administrator</h2>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" id="form1Example1" class="form-control" />
                                <label class="form-label" for="form1Example1">아이디</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" id="form1Example2" class="form-control" />
                                <label class="form-label" for="form1Example2">비밀번호</label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block"  onclick="location.href='/admin'">로그인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!-- 로그인 -->
<!-- E:main -->

<!-- footer-->
<footer></footer>
<!-- footer ends-->
<!-- End your project here-->

<!-- MDB -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- add Script -->
<script type="text/javascript" src="/js/admin/script.js"></script>

</body>
</html>

