<!-- S:collection information-->
<div class="row collection-information mb-4">
    <div class="col-xl-7 col-md-12">

        <!-- S:collection creator information : 모바일만보임-->
        <div class="row d-sm-none d-block">
            <div class="col-12 d-flex justify-content-center mb-3">
                <p class=" photo-profile rounded-circle mb-0 p-1 bg-white shadow-3" style="top:-80px;width: 64px; height: 64px; z-index:1000;">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 54px; height: 54px;"
                         class="rounded-circle"/>
                </p>
            </div>
            <div class="col-12 text-center">
                <h3 class="text-darken fw-bold mb-3"><%= title %></h3>
                <p class="h6">Created by <span class="text-primary">cakedapescreator</span>
                    <span class="material-symbols-rounded ms-1 text-primary">verified</span>
                </p>
            </div>
        </div>
        <!-- E:collection creator information : 모바일만보임-->

        <!-- S:collection creator information-->
        <div class="d-none d-md-block">
            <div class="d-flex">
                <div class="me-3">
                    <p class="photo-profile rounded-circle mb-0 p-1 bg-white shadow-3" style="top:-80px;width: 98px; height: 98px; z-index:1000;">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 88px; height: 88px;"
                             class="rounded-circle"/>
                    </p>
                </div>
                <div class="">
                    <h3 class="text-darken fw-bold mb-3"><%= title %></h3>
                    <p class="h6">Created by <span class="text-primary">cakedapescreator</span>
                        <span class="material-symbols-rounded ms-1 text-primary">verified</span>
                    </p>
                </div>
            </div>
        </div>
        <!-- E:collection creator information-->

    </div>
    <div class="col-xl-5 d-none d-lg-block">
        <!-- S:우측 버튼 영역-->
        <div class="d-flex flex-row-reverse">
            <div class="d-flex align-items-center shadow-3 rounded-5 p-3">
                <a href="" class="text-body mt-1 px-2">
                    <img src="/assets/img/icon-website.png" alt="">
                </a>
                <a href="" class="text-body mt-1 px-2">
                    <img src="/assets/img/icon-discord.png" alt="">
                </a>

                <a href="" class="text-body mt-1 px-2">
                    <img src="/assets/img/icon-instagram.png" alt="">
                </a>
                <a href="" class="text-body mt-1 px-2">
                    <img src="/assets/img/icon-twitter.png" alt="">
                </a>
                <a href="" class="text-body mt-1 px-2">
                    <img src="/assets/img/icon-website.png" alt="">
                </a>
                <a href="" class="text-body mt-1 px-2">
                    <img src="/assets/img/icon-more.png" alt="">
                </a>
            </div>
            <div class="shadow-3 rounded-5 p-3 me-3 ">
                <a href="" class="d-flex align-items-center text-body mt-1">
                    <span class="material-icons material-symbols-outlined">add</span>
                    <span class="fw-bold">Watchlist</span>
                </a>
            </div>
        </div>
        <!-- E:우측 버튼 영역-->
    </div>
</div>
<!-- E:collection information-->

<!-- S:image area-->
<div class="row justify-content-center ">
    <div class="col-md-12">
        <!-- collection visual image-->
        <img src="/assets/img/img_collection-visualarea.png" alt="" class="img-fluid" />
    </div>
    <div class="col-md-10 col-lg-9 col-xl-8 col-sm-10 col-10 mb-3 mb-md-7 collection-info">
        <!-- items,owners,floor price,volume traded-->
        <div class="row my-4 ">
            <div class="col-md-3 col-sm-6 col-6 mb-2">
                <div class="border p-lg-4 p-sm-2 p-2 bg-white rounded-5 text-center">
                    <h4 class="fw-bold text-darken mb-0">8.9K</h4>
                    <p class="mb-0">items</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mb-2">
                <div class="border p-lg-4 p-sm-2 p-2  bg-white rounded-5 text-center">
                    <h4 class="fw-bold text-darken mb-0">4.8K</h4>
                    <p class="mb-0">owners</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mb-2">
                <div class="border p-lg-4 p-sm-2 p-2  bg-white rounded-5 text-center">
                    <h4 class="fw-bold text-darken mb-0"><img src="/assets/img/icon-ETH-24.png" alt="ETH"> 0.245</h4>
                    <p class="mb-0">floor price</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mb-2">
                <div class="border p-lg-4 p-sm-2 p-2  bg-white rounded-5 text-center">
                    <h4 class="fw-bold text-darken mb-0"><img src="/assets/img/icon-ETH-24.png" alt="ETH"> 4.5K</h4>
                    <p class="mb-0">volume traded</p>
                </div>
            </div>
        </div>
        <!-- 상세글-->
        <!-- S:테스크탑에서만 보임-->
        <div class="d-lg-block d-none">
            <div class="text-center">
                What happens when a group of apes working in a bakery gets pissed
                on by birds putting out a fire set by potatoes? Caked Apes happen.
                They are 8888 unique orphaned NFTs that need a home. Won't you please consider
                taking some Caked Apes home before they spoil?
            </div>
        </div>
        <!-- E:테스크탑에서만 보임-->

        <!-- S:모바일에서만 보임-->
        <div class="d-lg-none d-block">
            <a
                    class="btn btn-outline-dark btn-rounded btn-sm d-flex justify-content-center border-0"
                    data-mdb-toggle="collapse"
                    href="#collapseWithScrollbar"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseExample"
            >
                See more<span class="material-symbols-outlined">expand_more</span>
            </a>
            <div class="text-center collapse mt-3 scroll-section" id="collapseWithScrollbar">
                What happens when a group of apes working in a bakery gets pissed
                on by birds putting out a fire set by potatoes? Caked Apes happen.
                They are 8888 unique orphaned NFTs that need a home. Won't you please consider
                taking some Caked Apes home before they spoil?
            </div>
        </div>

    </div>
</div>
