<!-- S: Ranking list -->
<div class="list-01 d-flex align-items-center px-2 my-3">

    <div class="me-3 fw-bold h6">1</div>
    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 48px; height: 48px"
         class="rounded-circle"/>
    <div class="ms-2">
        <h5 class="name text-dark mb-0">Levitation</h5>
        <p class="floor-price text-lighten mb-0">Floor price: <img src="/assets/img/icon-ETH-24.png" alt="ETH"> 0.84
        </p>
    </div>
    <div class="ms-2 ms-auto ">
        <p class="coin-ratio mb-0 text-end">
            <!-- 마이너스 텍스트 <span class=" text-danger">- 30.19%</span>-->
            <strong class="fw-bold text-success">+ 30.19%</strong>
        </p>
        <p class="coin-price mb-0"><img src="/assets/img/icon-ETH-24.png" alt="ETH">4,756,234</p>
    </div>
</div>
<!-- E: Ranking list -->
